html{
    font-family: 'Indie Flower', cursive;
    color: rgb(99, 99, 99);    
}

body{
    background: rgb(255,158,0);
    background: linear-gradient(90deg, rgba(255,158,0,1) 0%, rgba(255,4,0,1) 50%, rgba(192,0,255,1) 100%);   
    padding: 0;
    margin: 0;
    border: 0;
    /* Remover a scrollbar nos navegadores IE/Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

/* Remover a scrollbar no chrome e etc. */
body::-webkit-scrollbar{
    display: none;
}

#header{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 6vh;
    background-color: white;
    box-shadow: 0 0 5px 2px white;
    text-align: center;
    top: 0;
    margin: 0;
}

#header p{
    margin: 0 0.5% 0 3%;
}

#header input{
    border: 0;
    outline: 0;
    background-color: rgba(206, 206, 206, 0.5);
    width: 5%;
    padding: 0.3em 1em;    
    border-left: 1px solid rgba(206, 206, 206) ;
}

#header button{
    border: 0;
    outline: 0;
    background-color: rgba(206, 206, 206, 0.5);
    cursor: pointer;    
    padding: 0.3em 1em;
    border-left: 1px solid rgba(206, 206, 206) ;
}

/* Remover as flechas do input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#content{
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img{
    width: 14%;    
    height: auto;
    margin: 5%;
    border-radius: 5%;
    box-shadow: 0 0 10px 1px rgb(255,255,255,0.75);
    transition: 1s;
    cursor: pointer;    
    animation: 2.3s ease-out 0s 1 fade;
}
.img:hover{
    filter: brightness(1.2);
    transform: scale(1.03);
}

#footer{
    display: flex;
    align-items: center;
    justify-content:center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6vh;
    background-color: white;
    box-shadow: 0 0 5px 1px white;
    text-align: center;
}

.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(0,0,0,0.7);
    z-index: 1;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
}

.modalActive{
    visibility: visible;   
    opacity: 1; 
}

#modalImg{
    width: 400px;
    height: 400px;
}

#closeModal{
    background-color: rgb(255,255,255,0.7);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height:50px;
    color: black;
    font-size: 1.5em;
    text-align: center;
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    z-index: 2;
}

@keyframes fade {
    0% {
      opacity: 0;
    }
    20%{
      opacity: 0;        
    }
    100% {
      opacity: 1;
    }
  }
  